<mat-card class="tab">
  <mat-card-header>
    <mat-card-title>
      <h2 class="card">UPDATE</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-tab-group>
    <mat-tab label="Tab 6">
      <ng-template mat-tab-label>
        <i class="material-icons">local_grocery_store</i>
        Cleanning Material
      </ng-template>

      <form class="example-form" #materialf="ngForm" (ngSubmit)="materialForm(materialf.value)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Material Name" name="name" [(ngModel)]="material[0].name" required>

          <mat-error>The Material name is require</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Quantity" name="quantity" type="number" [(ngModel)]="material[0].quantity" required required>

          <mat-error>The Quantity is require</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Unit Price" name="unitPrice" type="number" [(ngModel)]="material[0].unitPrice" required  >
          <i class="material-icons" matPrefix>euro_symbol</i>
          <mat-error>The Unit Price is require</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Price" name="totalPrice" type="number" [(ngModel)]="material[0].totalPrice"   >
          <i class="material-icons" matPrefix>euro_symbol</i>
          <mat-error>The Total Price is require</mat-error>
        </mat-form-field>
        <div class="but">
          <button type="submit" mat-raised-button color="primary" [disabled]="!materialf.form.valid">
            <i class="material-icons">save</i> Save</button>
          <button type="reset" mat-raised-button color="warn">
            <i class="material-icons">cancel</i> Cancel</button>

        </div>

      </form>
    </mat-tab>
    </mat-tab-group>
