<mat-card class="tab">
  <mat-card-header>
    <mat-card-title>
      <h2 class="card">UPDATE</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-tab-group>
      <mat-tab label="Tab 6">
          <ng-template mat-tab-label>
            <i class="material-icons">person_add</i>
            New Client
          </ng-template>
    
          <form class="example-form" #register="ngForm" (ngSubmit)="registerForm(register.value)">
    
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select a Client" name="client" ngModel >
          
                <mat-option  value="{{registration[0].client}}">{{registration[0].client}}</mat-option>
            
              </mat-select>
              <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
    
            <mat-form-field class="example-full-width" required>
              <textarea matInput placeholder="Deposit Items" name="iterms" [(ngModel)]="registration[0].iterms" ></textarea>
            </mat-form-field>
    
    
            <mat-form-field class="example-full-width">
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" placeholder="Deposite date" name="picker1" ngModel required>
              <mat-datepicker-toggle matSuffix [for]="picker1">  </mat-datepicker-toggle>
              <mat-datepicker #picker1 ></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" placeholder="Due date"   name="picker2" ngModel required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Select a Status" [(value)]="selected" name="status" [(ngModel)]="status" > 
                <mat-option value="peding" selected=true >Peding</mat-option>
                <mat-option value="cleanning">Cleanning</mat-option>
                <mat-option value="ready">Ready</mat-option>
              </mat-select>
              <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Total Amount" type="number" name="totalamount" [(ngModel)]="registration[0].totalamount" required>
                <span matPrefix>$&nbsp;</span>
                <mat-error>The Toatal amount is require</mat-error>
              </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Amount paid" type="number" name="amountPaid" [(ngModel)]="registration[0].amountPaid" required>
              <span matPrefix>$&nbsp;</span>
              <mat-error>The Amount Paid is require</mat-error>
            </mat-form-field>
    
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Balance" name="balance" [(ngModel)]="registration[0].balance">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
    
            <div class="but">
              <button type="submit" mat-raised-button color="primary" [disabled]="!register.form.valid">
                  <i class="material-icons">save</i> Save </button>
              <button type="reset" mat-raised-button color="warn">
                <i class="material-icons">cancel</i> Cancel</button>
            </div>
    
    
          </form>
    
        </mat-tab>
  </mat-tab-group>
</mat-card>